/// <reference path="../../variables">

.clock {
    &-wrapper {
        background-color: @clock-wrapper-background-color;
        width: 100vw;
        height: 100vh;
        padding: 10vmin;
        display: block;
    }

    &-analog {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: @clock-size;
        height: @clock-size;
        border: @clock-border;
        border-radius: 50%;
        box-sizing: content-box;
        display: none;

        &.show {
            display: block;
        }

        .clock {
            &-second {
                top: (@clock-size/2);
                margin-top: -(@clock-second-height/2);
                left: @clock-second-left;
                height: @clock-second-height;
                border-left: @clock-second-calc-width solid transparent;
                border-right: @clock-second-calc-width @clock-second-border-style @clock-second-color;
                box-sizing: content-box;
            }

            &-minute {
                top: (@clock-size/2);
                margin-top: -(@clock-minute-height/2);
                left: @clock-minute-left;
                height: @clock-minute-height;
                border-left: @clock-minute-calc-width solid transparent;
                border-right: @clock-minute-calc-width @clock-minute-border-style @clock-minute-color;
                box-sizing: content-box;
            }

            &-hour {
                top: (@clock-size/2);
                margin-top: -(@clock-hour-height/2);
                left: @clock-hour-left;
                height: @clock-hour-height;
                border-left: @clock-hour-calc-width solid transparent;
                border-right: @clock-hour-calc-width @clock-hour-border-style @clock-hour-color;
                box-sizing: content-box;
            }

            &-center {
                position: absolute;
                left: @clock-size/2;
                top: @clock-size/2;
                width: @clock-center-size;
                height: @clock-center-size;
                margin-top: -(@clock-center-size/2);
                margin-left: -(@clock-center-size/2);
                border-radius: 50%;
                background-color: @clock-center-color;
            }

            &-hand {
                position: absolute;
                width: 0px;
                opacity: @clock-center-hand-opacity;
            }

            &-number {
                position: absolute;
                text-align: center;
                width: @clock-number-width;
                height: @clock-number-height;
                line-height: @clock-number-height;
                font-size: @clock-number-font-size;
                font-weight: @clock-number-font-weight;
                color: @clock-number-color;
            }
        }
    }

    &-digital {
        display: none;

        &.show {
            display: block;
        }

        .clock-time-element {
            float: left;
            font-size: @clock-time-font-size;
            color: @clock-time-color;
            font-weight: @clock-time-font-weight;

            &:not(:last-child) {
                &:after {
                    content: ":";
                    color: @clock-time-pipe-color;
                }
            }
        }
    }

    &-date {
        font-size: @clock-date-font-size;
        font-weight: @clock-date-font-weight;
        color: @clock-date-color;
        display: none;
        margin-top: 1em;

        &.show {
            display: block;
        }

        &.-center {
            text-align: center;
        }
    }
}
